## About Project
- This project is launching open source apps with docker compose
- Cloudflare is responsible to create ssl certificate with help of letsencrypt

## Conventions
- Use English when commiting files
- Add healthcheck in every docker compose with curl
- every app will have .env file
- each app should be under network name shared_network  
- add container_name label with proper label.
- add 'pids_limit: 100' labels on every docker compose yml. 
- add traefik labels on every docker compose yml file.
`
    labels:
      - 'traefik.enable=true'
      # HTTP Router
      - 'traefik.http.routers.freshrss.rule=Host(`${DOMAIN_PREFIX}.${DOMAIN}`)'
      - 'traefik.http.routers.freshrss.entrypoints=web'
      - 'traefik.http.routers.freshrss.middlewares=redirect-to-https'
      # HTTPS Router
      - 'traefik.http.routers.freshrss-secure.rule=Host(`${DOMAIN_PREFIX}.${DOMAIN}`)'
      - 'traefik.http.routers.freshrss-secure.entrypoints=websecure'
      - 'traefik.http.routers.freshrss-secure.tls=true'
      - 'traefik.http.routers.freshrss-secure.tls.certresolver=cloudflare'
      # Service
      - 'traefik.http.services.freshrss.loadbalancer.server.port=80'
      # Middleware for HTTPS redirect
      - 'traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https'
      - 'traefik.http.middlewares.redirect-to-https.redirectscheme.permanent=true'

`
