## About Project
- This project is launching open source apps with docker compose
- Cloudflare is responsible to create ssl certificate with help of letsencrypt

## Conventions
- Use English when commiting files
- Add healthcheck in every docker compose with curl
- After updating healthcheck, first test it from inside container with proper command
- every app will have .env file. Make changes in .env.example like it is .env file.
- each app should be under network name shared_network  
- add container_name label with proper label.
- add 'pids_limit: 100' labels on every docker compose yml. 
- HOST_PORT should be added to every docker compose yml file except traefik.
- Port exposure should be optional and managed through separate docker-compose.ports.yml file except traefik.
- if port is set in .env file, use docker-compose.ports.yml file to expose port except traefik.
`
  if [ -n "$(HOST_PORT)" ]; then \
    echo "$(YELLOW)Port $(HOST_PORT) will be exposed$(NC)"; \
    $(DOCKER_COMPOSE) -f docker-compose.yml -f docker-compose.ports.yml up -d || { echo "$(RED)Error starting OpenWebUI.$(NC)"; exit 1; }; \
  else \
      echo "$(YELLOW)No HOST_PORT defined, service will only be available through Traefik$(NC)"; \
      $(DOCKER_COMPOSE) up -d || { echo "$(RED)Error starting OpenWebUI.$(NC)"; exit 1; }; \
	fi
`
- add traefik labels on every docker compose yml file except traefik.
`
    labels:
      - 'traefik.enable=true'
      # HTTP Router
      - 'traefik.http.routers.freshrss.rule=Host(`${DOMAIN_PREFIX}.${DOMAIN}`)'
      - 'traefik.http.routers.freshrss.entrypoints=web'
      # HTTPS Router
      - 'traefik.http.routers.freshrss-secure.rule=Host(`${DOMAIN_PREFIX}.${DOMAIN}`)'
      - 'traefik.http.routers.freshrss-secure.entrypoints=websecure'
      - 'traefik.http.routers.freshrss-secure.tls=true'
      - 'traefik.http.routers.freshrss-secure.tls.certresolver=cloudflare'
      # Service
      - 'traefik.http.services.freshrss.loadbalancer.server.port=80'
`
- Makefile 
  - should have makefile for every app.
  - should have setup, clean, up, down, restart, logs, traefik-logs, ps, clean, helps commands
  - traefik-logs should be filtered with app name except traefik logs.
  - Read .env file, get fulldomain from {domain-prefix}.{domain} and create dns-mac, dns-linux, dns-windows commands for dns resolution described in docs/DNS.md file with this full domain. 
  - Dns file location should be taken from docs/DNS.md file.

