services:
  rabbitmq:
    image: rabbitmq:${RABBITMQ_IMAGE_TAG:-4.2-management-alpine}
    container_name: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USERNAME:-admin}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASSWORD:-admin}
      RABBITMQ_DEFAULT_VHOST: ${RABBITMQ_VHOST:-/}
    ports:
      - ${HOST_PORT:-5672}:5672
      - ${MANAGEMENT_PORT:-15672}:15672
    volumes:
      - ~/.docker-conf/rabbitmq/data/:/var/lib/rabbitmq/
      - ~/.docker-conf/rabbitmq/log/:/var/log/rabbitmq
    networks:
      - shared_network
    pids_limit: ${PIDS_LIMIT:-100}
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 10s
    labels:
      - 'traefik.enable=true'
      # HTTP Router
      - 'traefik.http.routers.rabbitmq.rule=Host(`${DOMAIN_PREFIX}.${DOMAIN}`)'
      - 'traefik.http.routers.rabbitmq.entrypoints=web'
      # HTTPS Router
      - 'traefik.http.routers.rabbitmq-secure.rule=Host(`${DOMAIN_PREFIX}.${DOMAIN}`)'
      - 'traefik.http.routers.rabbitmq-secure.entrypoints=websecure'
      - 'traefik.http.routers.rabbitmq-secure.tls=true'
      - 'traefik.http.routers.rabbitmq-secure.tls.certresolver=cloudflare'
      # Service
      - 'traefik.http.services.rabbitmq.loadbalancer.server.port=15672'

networks:
  shared_network:
    external: true
