DOMAIN=local.example.com
DOMAIN_PREFIX=glitchtip
HOST_PORT=

# Database Configuration
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=glitchtip
POSTGRES_HOST=postgres #leave as is if you are using postgres container in this repo
POSTGRES_PORT=5432 # 5432 is the default port for postgres

# Redis Configuration
REDIS_HOST=valkey #leave as is if you are using redis container in this repo
REDIS_PORT=6379 # 6379 is the default port for redis
REDIS_PASSWORD=admin

# Glitchtip configuration
DOCKER_TAG=latest
SECRET_KEY=change_me_to_something_random # best to run openssl rand -hex 32
EMAIL_URL=consolemail:// # Example smtp://email:password@smtp_url:port https://glitchtip.com/documentation/install#configuration
DEFAULT_FROM_EMAIL=email@example.com # Change this to your email

CELERY_WORKER_AUTOSCALE=1,3 # Scale between 1 and 3 to prevent excessive memory usage. Change it or remove to set it to the number of cpu cores.

